iframe {
  width: 400px;
  height: 400px;
}
#textarea1 #textarea2 {
  width: 100px;
  height: 100px;
}

.form_display{
  display: flex; 
  align-items: center; 
  flex-direction: column;
}

button {
  margin: 10px;
  width: 200px;
  background-color: aquamarine;
}